@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Chakra+Petch&family=Montserrat:wght@300;700&family=Open+Sans&family=Pacifico&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,300;1,400;1,500&family=Rajdhani:wght@500&family=Raleway:wght@200&family=Roboto:ital,wght@0,100;0,500;0,700;1,500&family=Sora:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 1rem;
}
a {
  text-decoration: none;
}
body {
  background-color: #161b22;
  color: #fff;
}
header {
  padding: 0.7rem 1.5rem;
  background-color: #0d1117;
  position: sticky;
  top: 0;
  background-color: #0d1117;
  z-index: 1;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__search-box {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border: 1px solid rgb(255 255 255 / 15%);
  padding: 8px;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.bx-search {
  font-size: 1.2rem;
  color: rgb(255 255 255 / 15%);
}
input {
  width: 100%;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.log_in a {
  padding: 8px 1rem;
  background-color: #e50914;
  border-radius: 8px;
  color: #fff;
  transition: 0.3s;
}
.log_in a:hover {
  background: #bb070d;
}

/* !===== */
.search__movie-container h4 {
  text-align: left;
  user-select: none;
}
.search__movie-postars {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 550px) {
  .search__movie-postars {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.4rem;
  }
}
